*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.full{
    display: flex;
    justify-content: space-around;
    
    color: rgb(249, 245, 245);
    z-index: 10;
    background-color: darkcyan;
    height: 3rem;
    opacity: 0.7;
}
  
.frameset{
    display: flex;
    align-items: center;
}

.frameset i{
    margin-left: 20px;
    color: rgb(247, 244, 244);
}

.about{
    display: flex;
    align-items: center;
}
.about i{
    color: rgb(252, 249, 249);
}
 
.about p{
    margin-left: 20px;
}


.portable{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    margin-top: 20px;
    margin-inline-start: 330px;
    
   
        
}

.portable a{
    text-decoration: none;
    color: rgb(246, 244, 244);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
.image{
    display: flex;
    margin-left: 180px;
    margin-top: 40px;
    z-index: 10;
    
    
    }

    .big{
        height: 100vh; 
        width: 100vw; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: rgb(15, 15, 15);
        margin-top: -120px;
    }
    
    .big h3{
        font-size: 70px;
        text-align: center;
        color: whitesmoke;

       
    }
    
    .animate_animated{
        opacity: 0;
        transform: translateY(30px);
        animation: flash 2s linear forwards;
    
    }
    
    @keyframes flash {
        100%{
            opacity: 1;
            transform: translateY(0);
    
        }
    }
    

    
    .big p{
        font-size: 50px;
        margin: 20px 0;
        width: 100%;
        text-align: center;
        margin-top: -20px;
        color: rgb(16, 15, 15);
    
    }

    .end p{
        margin-top: 10px;
    }

  

    .coverImg{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -7;
        object-fit: cover;
        
    }
    .overlay{
        position: absolute; /* Sit on top of the page content */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        background-color: rgb(250, 250, 250); /* Black background with opacity */
        opacity: -9;
        z-index: -1; 
      
    }

    .video1{
        width: 85%;
        display: block;
        border-style: none;
        
    }

    .seizing{
        display: flex;
        justify-content: left;
        align-items: center;
        text-align: center;
        position: absolute;
        bottom: 5;
        transform: translateY(40%);
        padding: 0 100px;
        z-index: 1;
        margin:-30% -30px;
        margin-top: -20%;
       }
      

       .video2{
        width: 150%;
        display: block;
        border-style: none;
        
    }

       .affordable{
        display: flex;
        justify-content: right;
        align-items: center;
        text-align: center;
        position: absolute;
        bottom: 5;
        transform: translateY(40%);
        padding: 0 100px;
        z-index: 1;
        margin:30% 30px;
        margin-top: -20%;
        margin-left: 60%;

       }

       .video3{
        width: 85%;
        display: block;
        border-style: none;
        
    }

    .familysave{
        display: flex;
        justify-content: left;
        align-items: center;
        text-align: center;
        position: absolute;
        bottom: 5;
        transform: translateY(40%);
        padding: 0 100px;
        z-index: 1;
        margin:-30% -30px;
        margin-top: 5%;
    
       }

       .video4{
        width: 150%;
        display: block;
        border-style: none;
        
    }

    
    .travelsave{
        display: flex;
        justify-content: right;
        align-items: center;
        text-align: center;
        position: absolute;
        bottom: 5;
        transform: translateY(40%);
        padding: 0 100px;
        z-index: 1;
        margin:30% 30px;
        margin-top: -20%;
        margin-left: 60%;
        margin-top: 5%;

       }

       .video5{
        width: 200%;
        display: block;
        border-style: none;
        
    }

    .newwaytravel{
        display: flex;
        justify-content: left;
        align-items: center;
        text-align: center;
        position: absolute;
        bottom: 5;
        transform: translateY(40%);
        padding: 0 100px;
        z-index: 1;
        margin:30% 30px;
        margin-top: 55%;
        margin-right: 10%;
        
    
       }

       .content{
        padding: 20px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 100%;
        background-color: darkcyan;
        opacity: 1;
        margin-top: 40%;
        color: whitesmoke;


    }
    .content i{
        font-size: 50px;
        

    }

       .content h3{
        align-items: center;
        display: flex;
        justify-content: center;
       
    }
    
    .content p{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .content i{
        justify-content: center;
        align-items: center;
        margin-left: 50%;
        
    }

    .winner{
        justify-content: left;
        align-items: center;
        text-align: left;
        padding: 0 5%;
        margin: 50px;
        background-color: darkcyan;
        opacity: 1;
        height: 200px;
       
    
    }
    .winner p{
        font-size: 16px;
        color: rgb(251, 248, 248);
    }

    .winner h1{
        color: rgb(250, 247, 247);
        padding: 0 5%;
    }

    .winner h5{
        margin-top: 10px;
        color: rgb(247, 247, 247);

    }


    .award img{
        width: 100%;
        height: 100%;
        vertical-align: top;
        padding: 0 5%;
        
    }
    .award p{
        margin-top: -20%;
        color: white;
       
    }



    .CardContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 40px;
        position: absolute;
        bottom: 0;
        transform: translateY(80%);
        padding: 0 100px;
        margin-bottom: 5%;
        
      }
      .CardContainer h3{
        margin-bottom: 20px;
      }
      
      .CardContainer img {
        width: 100%;
      }
      .card {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 900%;
      }
 
      /* .file {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(50, 193, 237);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 100px 0;
        position: relative;
        color: white;
            
    } */
    
/*     
      .CardContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 40px;
        position: absolute;
        bottom: 0;
        transform: translateY(80%);
        padding: 0 100px;
      }
      
      .CardContainer img {
        width: 100%;
      }
      .card {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      
     */
    
     .marq{
        justify-content: center;
        align-items: center;  
        display: flex;
    
     }

     .marq1 img{
        margin-top: 100%;
        width: 150%;
        
    
     }

     .marq2 img{
        margin-top: 100%;
        width: 150%;    

     }

     .marq3 img{
        margin-top: 100%;
        width: 150%;     

     }

     .marq4 img{
        margin-top: 100%;
        width: 150%;
     }

     
        
        
        .nation{
            display: grid;   
            padding: 0 5%; 
            grid-template-columns: repeat(4, 1fr);
           
            

        }
        
            
          
            .divide {
                display: flex;
                grid-gap: 40px; 
                width: 80%;
                margin-top: 35%;
                padding: 0 5%;
                
            
            }
       

     .nation h1{
            
            
            margin-top: 40px;
            color: darkcyan;   
            font-size: 20px; 
            }
        
    
      
      .nation img {
        width: 60%;

    
      }

      input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #cccccc;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
      
      input[type=submit] {
        background-color: rgb(15, 15, 15);
        color: rgb(249, 247, 247);
        padding: 12px 20px;
        border: none;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: #090909;
      }

      .cont {
        border-radius: 5px;
        background-color: rgb(193, 197, 197);
        padding: 10px;
        margin-top: 5%;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
      }

      .column {
        float: left;
        width: 50%;
        margin-top: 6px;
        padding: 20px;
      }

   .column img{
    height: 400px;
    opacity: 0.7;
    


   }

      .row:after {
        content: "";
        display: table;
        clear: both;
      }


      .middle {
        
        justify-content: center;
                
        align-items: center;
                
         padding: 0 5%; 
                
         margin: 85px; 
            }
        
            .middle h2{
                color: darkcyan;
                font-size: 20px;
            
            }
        
        
        
        .middle p {
            margin-top: 10px;
            font-size: 18px;
        }

      .national{
        display: flex;
        
        position: relative; 
        margin-top: 10%;
        margin-right: 30px;

    }

    .flexing {
        font-size: 15px;
        height: 600px;
    }

    .dividing {
        font-size: 20px;
    }

   
    
    .flexing h4{
    margin-top: 40px;
    color: darkcyan ;   
    font-size: 30px; 
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;

    }
    
    .minute{
            display: flex;
            justify-content: center;
            align-items: center;
           
           
        }
        
        .minute img{
             right: -5%; 
             bottom: -20%; 
             text-align: center; 
             position: absolute; 
             justify-content: center; 
             align-items: center; 
             padding: 0 5%;
             height: 600px;
             margin-bottom: 15%;
        }


      

      


      
      
   